* { margin: 0; padding: 0; box-sizing: border-box; }

        body {
            font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
            background: #1a1a1a;
            color: #fff;
        }

        .contenedor {
            display: flex;
            min-height: 100vh;
            width: 100%;
        }

        .izquierda {
            width: 30%;
            background: #1f1b36;
            padding: 20px;
        }

        .derecha {
            width: 70%;
            padding: 40px   50px;
        }

        .derecha h2 {
            margin-top: 25px;
            margin-bottom: 10px;
        }
 
        .derecha h3 {
           margin-top: 25px;
           margin-bottom: 5px;
        }

        .derecha p {
            margin-bottom: 8px;
            line-height: 1.4;
        }

        .perfil {
            text-align: center;
            margin-bottom: 30px;
        }

        .perfil h1 {
            margin-top: 10px;
            font-size: 1.5rem;
        }

        .perfil h2 {
            font-size: 1rem;
            color: rgb(216,216,216);
            margin-top: 5px;
        }

        h3 {
            border-bottom: 1px solid #fff;
            padding-bottom: 5px;
            margin-bottom: 10px;
        }

        ul { list-style: square; margin-left: 20px; }

        @media (max-width: 900px) {
            .contenedor { flex-direction: column; }
            .izquierda, .derecha { width: 100%; }
        }

        ul li {
          margin-bottom: 4px;
        }
        .proyecto-titulo {
    margin-top: 30px;
    margin-bottom: 10px;}   